/* color variables */
:root {
    --mint: #b2dbbd;
    --caramel: #f5e8a9;
    --white: white;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gruppo', cursive;
}

/* Begin Header styling, navbar, hero */
header nav {
    padding-top: 5px;
    margin-right: 70px;
    float: right;
    font-size: 40px;
}

nav li {
    display: inline-block;
    margin-left: 35px;
}

li a {
    color: white;
	background-color: var(--mint);
	border: 2px solid white;
	padding: 0.5em;
}

li a:link {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
}

.hero {
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
/* End Header styling */

section {
    display: block;
}

/* About Me section styling */
.about-me {
    background-color: var(--mint);
    color: black;
    font-size: 25px;
    padding: 50px;
    margin: 0;
	height: 100vh;
    width: 100vw;
}

h2 {
	float: right;
	font-size: 1.17em;
	width: 20vw;
	text-align: center;
	padding: 1em;
	background-color: var(--caramel);
    color: white;
	border: 2px solid black;
	/* margin-bottom: 20em; */
}

.row {
	display: flex;
}
  
.column {
	flex: 50%;
	background-color: var(--caramel);
	margin-top: 10em;
	align-items: center;
	padding: 1em;
	border-radius: 15px;
}

.profile-pic {
    max-height: 35vh;
	border-radius: 15px 50px 30px;
	border: 2px solid black;
}

.about-desc {
	font-size: 1.2em;
	width: 40vw;
	background-color: var(--caramel);
	padding: 1em;
	margin-top: 1em;
}

/* Portfolio section styling */
.portfolio {
    background-color: var(--caramel);
    color: var(--white);
    font-size: 25px;
    padding: 50px;
    margin: 0;
	/* display: flex; */
	align-items: center;
	height: 100vh;
    width: 100vw;
}

h3 {
	width: 20vw;
	text-align: center;
	padding: 1em;
	background-color: var(--mint);
    color: var(--white);
	border: 2px solid black;
	margin-bottom: 1em;
}

.title-1 {
	background-color: var(--mint);
}

button {
	background-color: var(--mint);
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 0.9em;
	border: 5px solid var(--caramel);
	overflow: hidden;
	transition: .2s transform ease-in-out;
	will-change: transform;
	z-index: 0;
}
  
button:after {
    background-color: var(--caramel);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
}
    
button:hover::after {
	transform: translate(0, 0);
}
    
button:hover {
    border: 5px solid transparent;
    color: black;
    transform: scale(1.05);
    will-change: transform;
    
}
.trivia {
	background-image: url("../images/trivia-game-preview.png");
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 48vw;
}

.pwdGenerator {
	background-image: url("../images/password-gen-preview.png");
    background-size: cover;
    background-position: center;
    height: 42vh;
    width: 48vw;
}

.horiseon {
	background-image: url("../images/marketing-app-preview.png");
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 48vw;
}

.slider {
	width: 100%;
}
.slider input {
	display: none;
}
.projects {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 52vh;
	perspective: 1000px;
	overflow: hidden;
}
.item {
	width: 52vw;
	border: 2px solid black;
	border-radius: 5px;
	background-color: var(--mint);
	position: absolute;
	top: 0;
	box-sizing: border-box;
	text-align: center;
	transition: transform 0.4s;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	user-select: none;
	cursor: pointer;
}

.dots {
	margin-top: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dots label {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	cursor: pointer;
	background-color: var(--mint);
	margin: 7px;
	transition-duration: 0.2s;
}

#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-5"] {
	transform: scale(2);
	background-color: #fff;
}
#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-4"],
#t-4:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-5"],
#t-5:checked ~ .dots label[for="t-4"] {
	transform: scale(1.5);
}
#t-1:checked ~ .projects label[for="t-5"] {
	transform: translate3d(1200px, 0, -360px) rotateY(-45deg);
}
#t-1:checked ~ .projects label[for="t-4"],
#t-2:checked ~ .projects label[for="t-5"] {
	transform: translate3d(900px, 0, -270px) rotateY(-35deg);
	z-index: 1;
}
#t-1:checked ~ .projects label[for="t-3"],
#t-2:checked ~ .projects label[for="t-4"],
#t-3:checked ~ .projects label[for="t-5"] {
	transform: translate3d(600px, 0, -180px) rotateY(-25deg);
	z-index: 2;
}
#t-1:checked ~ .projects label[for="t-2"],
#t-2:checked ~ .projects label[for="t-3"],
#t-3:checked ~ .projects label[for="t-4"],
#t-4:checked ~ .projects label[for="t-5"] {
	transform: translate3d(300px, 0, -90px) rotateY(-15deg);
	z-index: 3;
}
#t-2:checked ~ .projects label[for="t-1"],
#t-3:checked ~ .projects label[for="t-2"],
#t-4:checked ~ .projects label[for="t-3"],
#t-5:checked ~ .projects label[for="t-4"] {
	transform: translate3d(-300px, 0, -90px) rotateY(15deg);
	z-index: 3;
}
#t-3:checked ~ .projects label[for="t-1"],
#t-4:checked ~ .projects label[for="t-2"],
#t-5:checked ~ .projects label[for="t-3"] {
	transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}
#t-5:checked ~ .projects label[for="t-2"],
#t-4:checked ~ .projects label[for="t-1"] {
	transform: translate3d(-900px, 0, -270px) rotateY(35deg);
}
#t-5:checked ~ .projects label[for="t-1"] {
	transform: translate3d(-1200px, 0, -360px) rotateY(45deg);
}
#t-1:checked ~ .projects label[for="t-1"],
#t-2:checked ~ .projects label[for="t-2"],
#t-3:checked ~ .projects label[for="t-3"],
#t-4:checked ~ .projects label[for="t-4"],
#t-5:checked ~ .projects label[for="t-4"],
#t-5:checked ~ .projects label[for="t-5"] {
	z-index: 4;
}

/* Contact Me section styling */
.contact-me {
    background-color: var(--mint);
    color: var(--white);
    font-size: 25px;
	/* display: flex; */
	/* align-items: center; */
	padding: 50px;
    margin: 0;
	height: 100vh;
    width: 100vw;
}

h5 {
	float: right;
	font-size: 1.17em;
	width: 20vw;
	text-align: center;
	padding: 1em;
	background-color: var(--caramel);
    color: white;
	border: 2px solid black;
	margin-bottom: 1em;
	
}

#all {
	display: inline-block;
	padding-left: 4em;
	padding-top: 3em;
}

/* generic css */

.view {
	/* margin: 10px; */
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background: none url(../images/bgimg.jpg) no-repeat center center;
}
  
  .view .mask,
  .view .content {
	width: 15em;
	height: 15em;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0
  }
  
  
  .view p {
	/* padding: 2em; */
	text-align: center
  }
  
  
  /*1*/
  
  .view-first img {
	/*1*/
	transition: all 0.2s linear;
	width: 15em;
	height: 15em;
	/* margin-top: 1em; */
  }
  
  .view-first .mask {
	opacity: 0;
	transition: all 0.4s ease-in-out;
	width: 15em;
	height: 15em;
  }

  .view-second img {
	/*1*/
	transition: all 0.2s linear;
	width: 15em;
	height: 15em;
	/* margin-top: 1em; */
  }
  
  .view-second .mask {
	opacity: 0;
	transition: all 0.4s ease-in-out;
	width: 14em;
	height: 15em;
  }

  .view-third img {
	/*1*/
	transition: all 0.2s linear;
	width: 12em;
	height: 13.5em;
	/* margin-top: 1em; */
  }
  
  .view-third .mask {
	opacity: 0;
	transition: all 0.4s ease-in-out;
	width: 16em;
	height: 16em;
  }
  
  .view p {
	transform: translateY(100px);
	opacity: 0;
	transition: all 0.2s linear;
	color: black;
  }
  
  
  /* */
  
  .view:hover img {
	transform: scale(1.1);
  }
  
  .view:hover .mask {
	opacity: 1;
  }

  .view-first:hover p {
	opacity: 1;
	transform: translateY(50px);
  }

  .view-second:hover p {
	opacity: 1;
	transform: translateY(30px);
	padding-left: 1em;
  }

  .view-third:hover p {
	opacity: 1;
	transform: translateY(3px);
	padding-right: 4em;
	color: white;
  }
  
  .view:hover p {
	transition-delay: 0.1s;
  }
  

  .hint {
	font-size: 3.5em;
	margin-left: 6em;
	border-radius: 15px;
	background-color: var(--white);
	width: 20vw;
	color: var(--mint);
	text-align: center;
  }

footer {
	background-color: lightgray;
	height: 170px;
}

.center {
	text-align: center;
	padding-top: 5em;
}

h6 {
	font-size: 2em;
}

.signature {
	font-size: 1.5em;
}