* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gruppo', cursive;
}

/* Begin Header styling, navbar, hero */
header {

    padding: 20px;
    background-color: salmon;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 30px;
}

nav li {
    display: inline-block;
    margin-left: 25px;
}

li a {
    color: #ffffff;
}

li a:link {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}

.hero {
    height: 800px;
    width: 100%;
    background-image: url(../images/pink-html-tags.jpg);
    background-size: cover;
}
/* End Header styling */
